{% macro renderField(field) -%}
        {%if field.type in ('StringField', 'SelectField') %}
            <div class="form-group row">
                {{ field.label(class="col-sm-3 col-form-label") }}
                <div class="col-sm-9">
                    {{ field(class="form-control") }}
                </div>
                {% if field.errors %}
                <div class="invalid-feedback">
                    <ul class="list-unstyled">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        {% endif %}

        {% if field.type in ('DateField') %}
            <div class="form-group row">
                {{ field.label(class="col-sm-3 col-form-label") }}
                <div class="input-group date datetimepicker col-sm-9" id="datetimepicker_{{ field.label.text | lower | replace(' ', '_') }}" data-target-input="nearest">
                         {{ field(class = "form-control datetimepicker-input") }}
                    <div class="input-group-append" data-target="#datetimepicker_{{ field.label.text | lower | replace(' ', '_') }}" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                    {% if field.errors %}
                    <div class="invalid-feedback">
                        <ul class="list-unstyled">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                
            </div>

        {% endif %}

        {% if field.type in ('IntegerField', 'DecimalField') %}
            <div class="form-group row input-number">
                {{ field.label(class="col-sm-3 col-form-label") }}
                <div class="col-sm-3">
                    {{ field(class="form-control", type="number", value=field.data, step=1) }}
                </div>

                {% if field.errors %}
                <div class="invalid-feedback">
                    <ul class="list-unstyled">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        {% endif %}

        {% if field.type in ('BooleanField') %}
            <div class="form-check row" style="display: none;">
                {{ field(class="col-sm-3 form-check-input") }}
                <div class="col-sm-9">
                    {{ field.label(class="col-form-label") }}
                </div>

                {% if field.errors %}
                <div class="invalid-feedback">
                    <ul class="list-unstyled">
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        {% endif %}

        {%if field.type in ('HiddenField') %}
                    {{ field(class="d-none") }}
        {% endif %}

{%- endmacro %}